@media (max-width: 1500px) {
  .content__main-img {
    top: 5%;
}
}

@media (max-width: 1333px) {
  .content__main-img {
    top: 15%;
}
}

@media (max-width: 1126px) {
  .info__cohf {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
    justify-content: center;
  }

  .content__main-img {
    top: 15%;
}
}

@media (max-width: 1010px) {
  .content__info-icon {
    font-size: 100px;
    justify-content: center;
  }

  .content__main-img {
    top: 20%;
}
}

@media (max-width: 870px) {
  .content__main-img {
    top: 25%;
}
}

@media (max-width: 700px) {
  .info__data {
    font-size: 40px;
  }

  .content__info-icon {
    font-size: 80px;
    justify-content: start;
  }

  .content__main-img {
    top: 30%;
}

.info__cohf {
  font-size: 23px;
}
.content__animal-left {
  left: 70%;
  bottom: 35%;
}

.content__animal-top {
  left: 70%;
  bottom: 60%;
}

.content__animal-item {
  left: 40%;
  top: 70%;
}
}

@media (max-width: 550px) {
  .content__main-img {
    display: none;
  }

  .info__data {
    font-size: 35px;
  }

  .content__info-icon {
    font-size: 70px;
    justify-content: start;
  }
}

@media (max-width: 500px) {
.info__data {
  font-size: 30px;
}

  .content__info-icon {
    font-size: 60px;
    justify-content: start;
  }

.info__cohf {
  font-size: 20px;
}

.content__animal-left {
  left: 70%;
}

.content__animal-top {
  left: 70%;
  bottom: 60%;
}

.content__animal-item {
  left: 50%;
}
}

@media (max-width: 385px) {
  .info__cohf {
    font-size: 18px;
  }
}
