.title {
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  margin: 0px 0px 30px 0px;
}

.image-slider {
  padding: 30px 0 70px 0;
}

.zi5 {
  position: relative;
  z-index: 5;
}

.price__container {
  display: flex;
  flex-direction: column;
}

.wrapper {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.image-slider__image {
  position: relative;
  text-align: center;
  height: 579px;
  border-radius: 60px;
  width: 426px;
  cursor: pointer;
  overflow: hidden;
  padding: 10px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
}

.image-slider__image_bg {
  display: block;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.image-slider__image_title {
  background: linear-gradient(20deg, rgb(76, 195, 38), rgb(255, 234, 42));
  -webkit-background-clip: text;
  text-align: center;
  color: transparent;
  font-size: 40px;
  font-family: "Yeseva One", serif;
  font-weight: 400;
  font-style: normal;
  position: relative;
  padding: 10px;
}

.image-slider__image_list_title {
  text-align: left;
  padding: 5px;
  text-align: center;
  font-size: 20px;
  font-family: "Cormorant Infant";
  font-weight: 300;
  font-style: normal;
  color: black;
}

.image-slider__image_list_item {
  font-size: 15px;
  font-family: "Cormorant Infant";
  font-weight: 300;
  font-style: normal;
  color: black;
  text-align: left;
  padding-left: 30px; /* Увеличиваем отступ для текста */
  list-style-type: none;
  position: relative;
  margin-top: 10px; /* Отступ сверху между элементами */
  margin-bottom: 10px; /* Отступ снизу между элементами */
}

.image-slider__image_list_item::before {
  content: "🟢";
  position: absolute;
  left: 0;
  color: green;
  margin-right: 5px; /* Отступ между символом и текстом */
}

.image-slider__image_price {
  background: linear-gradient(20deg, rgb(76, 195, 38), rgb(255, 234, 42));
  -webkit-background-clip: text;
  text-align: center;
  color: transparent;
  font-size: 40px;
  font-family: "Yeseva One", serif;
  font-weight: 400;
  font-style: normal;
  position: relative;
  margin-top: auto;
  display: flex;
  justify-content: center;
}

/* Пагинация */

.image-slider .swiper-pagination {
  bottom: 0;
}

/* Буллеты */
.image-slider .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 14px;
  background-color: #fff;
}
