.content {
  display: grid;
  position: relative;
  grid-template-columns: 25% 35% 40%;
  grid-template-rows: 30% 30% auto;
  width: 100%;
  height: 100%;
}

.main__event {
  color: rgb(192, 191, 186);
  font-family: Inter;
  font-size: 15px;
  font-weight: 700;
  opacity: 0.6;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
}

.info__topic {
  background: linear-gradient(20deg, rgb(76, 195, 38), rgb(255, 234, 42));
  -webkit-background-clip: text;
  color: transparent;
  font-size: 50px;
  font-family: "Yeseva One", serif;
  font-weight: 400;
  font-style: normal;
  position: relative;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 4;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.item__text {
  font-size: 20px;
  font-family: "Cormorant Infant";
  font-weight: 300;
  font-style: normal;
  color: var(--color-ff);
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 4;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.text__waiting {
  font-size: 18px;
  font-family: "Cormorant Infant";
  font-weight: 300;
  font-style: normal;
  color: var(--color-ff);
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 3;
  grid-column-end: 4;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.content__item-green {
  position: relative;
  width: 1000px;
  height: 1000px;
  background-image: url(./img/green-grad.png);
  background-repeat: no-repeat;
  left: 10%;
  bottom: 10%;
  opacity: 0.5;
}

.content__item-img {
  position: relative;
  background-image: url("./img/olen-bg.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  grid-row-start: 1;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 3;
  z-index: -1;
}
